[defaults]
inventory = inventory/hosts
roles_path = roles:upstream/mash-playbook/roles:upstream/matrix-docker-ansible-deploy/roles
collections_paths = collections
host_key_checking = False
retry_files_enabled = False
stdout_callback = yaml
callback_whitelist = profile_tasks

[privilege_escalation]
become = True
become_method = sudo

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=no
