# Managed by mash-nextgen Ansible playbook
# NFS exports for Docker Swarm shared storage

{% for export in nfs_server_exports %}
# {{ export.description | default('') }}
{% for host in groups['swarm'] %}
{{ export.path }} {{ hostvars[host]['ansible_host'] }}({{ nfs_export_opts }})
{% endfor %}
{% endfor %}
